/* Стили для навигационной панели (navbar) */
header {
    background-color: #053f7c;
    padding: 10px 0;
    border-radius: 10px;
    height: 90px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}
body {
    position: relative;
    background-image: url('vodolaz.jpg'); 
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
}
.diver:hover {
    cursor: pointer;
}
nav li {
    font-family: monospace;
    display: inline;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

/* Стили для контейнера с калькулятором */
.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    margin: 5px auto; /* Центрирование контейнера */
    max-width: 800px; /* Максимальная ширина контейнера */
}

h1 {
    font-size: 28px;
    color: #333;
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: left;
    margin-top: 50px;
    border-collapse: collapse;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* input[type="text"] {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    width: 90%;
} */

input[type="text"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    width: 88%;
    transition: border-color 0.3s, box-shadow 0.3s; /* Плавные переходы для бордера и тени */
}

/* При фокусе на поле ввода */
input[type="text"]:focus {
    border-color: #03274e; /* Изменение цвета бордера при фокусе */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
    outline: none; /* Убрать стандартный контур при фокусе */
}


button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #073464;
}

p {    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}
.grey{
    color: grey;
    font-size: 18px;
    padding: 5px;
    margin-top: 0 auto;
    font-family: monospace;
}

#result {
    font-weight: bold;
    margin: 8px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #007bff;
}
/* ... остальные стили ... */



/* Медиазапросы для адаптивности на маленьких экранах */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    table {
        border-spacing: 5px;
        overflow-x: auto; /* Горизонтальная прокрутка для таблицы */
        display: block;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    td {
        flex-basis: calc(50% - 10px);
        flex-grow: 1;
        margin-bottom: 0;
    }
}
